aws/services/test/staging/.terraform
aws/services/test/staging/terraform.tfstate
aws/services/test/staging/terraform.tfstate.backup
gcp/services/project/staging/.terraform
gcp/services/project/staging/config
gcp/services/project/staging/terraform.tfstate
gcp/services/project/staging/terraform.tfstate.backup
